


<h3 class="panel-title"><%= @user.nickname %></h3>
  			---------
			
<h3 class="panel-title">Сообщения пользователя</h3>

  			<% @user.messages.each do |message| %>
	<p>
	<%= User.find(message.sender_id).nickname %> 
	написал для 	
	<%= User.find(message.receiver_id).nickname %>
	</p>
	<p>
	<%= message.message %>	
	</p>
<% end %>
			
		
<h3 class="panel-title">Новое сообщение</h3>
  		

  	<%= form_for([@user, @user.messages.build]) do |f| %>
	
		<p>
		<%= f.label :sender_id %><br />
		<%= f.text_field :sender_id %>
	</p>
	<p>
		<%= f.label :message %><br />
		<%= f.text_field :message %>
	</p>
	<p>
		<%= f.label :receiver_id %><br />
		<%= f.text_field :receiver_id %>
	</p>
	<p>
		<%= f.label :read %><br />
		<%= f.text_field :read %>
	</p>

	
	<p>
		<%= f.submit %>
	</p>
	<% end %>